# Environments
backend/.env
.env

# Python
backend/__pycache__/
backend/venv/
backend/env/
backend/*.pyc
backend/*.pyo

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS Specific
.DS_Store
Thumbs.db
